body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
color: rgb(81, 13, 200);
font-size: 30px;
display: flex;
flex-direction: column;
}
header{
    background-color: darksalmon;
    padding: 3px;
    display: flex;
    padding-left: 3em;
    justify-content: center;
}
.class a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: cyan;
    border: solid;
    text-decoration: none;
}
nav ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
nav li{
    margin-right: 1em;
}
nav a{
    color: cyan;
}
nav a:hover{
    color: red;
}
main{
    display: flex;
    flex-direction: column;

}
article{
    background-color: rgb(88, 211, 0);
    padding: 2em;
    flex: 2 2 12em;
}
.kitty{
width: 2066px;
height: 900px;
}
.kitty{
    position: relative;
    display: inline block;
}
.tab{
    position: absolute;
    top: 18%;
    left: 28%;
    color: red;
    font-size: 2em;
    background-color: black;
    margin: auto;
}
footer{
    font-size: 18px;
    background: linear-gradient(rgb(164, 175, 15), rgb(81, 13, 200));
    color: gold;
}

ul{list-style: none;
text-align: center;
}
li{
    padding: 3px;
}
